<div id="footer">
    <i>
        Page generated in <span id="elapsed_time">{{ debug.elapsed_time }}</span> sec.<br/>
        <span id="hbase_info"></span><br />
        <span id="size_full"></span>
    </i>
</div>
