
/*****************************************************************************
/*             GENERAL STUFF
/*****************************************************************************/
html {
    font-family: arial, helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 0.8em;
    background-color: white;
}

img {
    border: none;
}

a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px dotted black;
}

a:hover {
    color: #f77b21;
    border-bottom:1px dotted #f77b21;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a.refresh-plot {
    border:none;
}


select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    margin-bottom: 0px;
}

.btn {
    vertical-align: middle;
}


/*****************************************************************************
/*              SIDEBAR MENU
/*****************************************************************************/
#sidebar {
    position: absolute;
    top: 10px;
    left: 20px;
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width: 270px;
}

#sidebar #logo {
    text-align: center;
    margin: 5px 0px 10px 0px;
}

#sidebar h3 {
    background-color: #CCC;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

#sidebar ul {
    margin: 10px 0px 10px 10px;
}

#sidebar li {
    margin: 0px 0px 5px 0px;
}

img.metric-info-button {
    width: 20px;
    vertical-align: bottom;
    cursor: pointer;
}

img.metric-info-button:hover {
    transform: translate(0px,1px);
    -ms-transform: translate(0px,1px); /* IE 9 */
    -webkit-transform: translate(0px,1px); /* Safari and Chrome */
    -o-transform: translate(0px,1px); /* Opera */
    -moz-transform: translate(0px,1px); /* Firefox */
}

a.metric.current {
    color: #f77b21;
    border-bottom: 1px dotted;
}

img.rpyc-status {
    width: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

#sidebar div.alert {
    margin: 20px 5px 20px 5px;
}

.popover {
    width: auto;
}

.tooltip {
    font-size: 12px;
}


/*****************************************************************************
/*              ACCORDION STUFF
/*****************************************************************************/
.accordion {
    margin-bottom: 0px;
}

.accordion-heading .accordion-toggle {
    padding: 8px 10px;
    font-size: 14px;
}

.accordion-group {
    border: 0px;
    border-top: 1px solid #CCC;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin: 0px -1px;
}

.accordion-inner {
    padding: 0 0 10px 10px;
    border-top: 1px dashed #E5E5E5;
}

.accordion + h1 {
    margin-top: 0px !important;
}

a.accordion-toggle {
    border: none;
    margin: 0px;
}
a.accordion-toggle:hover {
    border: none;
}
a.accordion-toggle:visited {
    border: none;
}
a.accordion-toggle:active {
    border: none;
}
a.accordion-toggle.current {
    color: #f77b21;
}


/*****************************************************************************
/*              MAIN
/*****************************************************************************/
#main {
    position: absolute;
    top: 10px;
    right: 20px;
    bottom: 10px;
    left:330px;
    /*border: 1px solid #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);*/
}

div#home {
    margin-bottom: 50px;
}

div#home h1 {
    margin: 30px 0px 50px 0px;
}

#messages {
    z-index: 999;
    text-align: center;
    position:absolute;
    top:25%;
    left:50%;
    margin-left:-200px;
    width:400px;
    background-color:white;
    padding: 20px 20px 0px 20px;
    display:none;
    border: 1px solid #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

div#home div.home-footer a {
    border-bottom: none;
}

div#home div.home-footer img {
    height: 32px;
}


/*****************************************************************************
/*             SLS PAGE 
/*****************************************************************************/
table#sls {
    margin: 10px auto 0px auto;
    border-collapse: collapse;
}

table#sls tr {
}

table#sls th {
    background-color: #eee;
    font-size: xx-large;
    padding: 10px;
    border: 1px solid #fff;
}

table#sls td {
    background-color: #eee;
    padding: 10px;
    border: 1px solid #fff;
    font-size: large;
}

table#sls iframe {
    margin: 0px auto;
    /* zoom into the iframe */
    zoom: 1.4;
    transform: scale(1.4,1.4);
    -ms-transform: scale(1.4,1.4); /* IE 9 */
    -webkit-transform: scale(1.4,1.4); /* Safari and Chrome */
    -o-transform: scale(1.4,1.4); /* Opera */
    -moz-transform: scale(1.4,1.4); /* Firefox */
    transform-origin: 0 0;
    -ms-transform-origin: 0 0; /* IE 9 */
    -webkit-transform-origin: 0 0; /* Safari and Chrome */
    -moz-transform-origin: 0 0; /* Firefox */
    -o-transform-origin: 0 0; /* Opera */
}


/*****************************************************************************
/*             STATISTICS PAGE 
/*****************************************************************************/

div.row-fluid.statistics {
    margin-bottom: 40px;
}

div.row-fluid.statistics.pie {
    min-height: 400px;
    /* border: 1px solid #CCC;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
}

div.row-fluid.statistics.c5 {
}

div.row-fluid.statistics.pie > div {
    min-height: 400px;
    padding: 20px;
    min-width: 600px;
}

div.row-fluid.statistics.pie > div:first-of-type {
    overflow-x: auto;
}

div.row-fluid.statistics.pie > div.container > h3 {
    margin-top: 150px;
    text-align: center;
    color: #ddd;
}

table.statistics {
    border-collapse: collapse;
}

table.statistics td,
table.statistics th {
    text-align: right;
}

table.statistics td:first-child,
table.statistics th:first-child {
    text-align: left;
}
