html {
    font-family: arial, helvetica, sans-serif;
    font-size: 11pt;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}
img {
    border: none;
}

input {
    vertical-align: middle;
}

div#search-bar {
    top: 0;
    left: 0;
    z-index: 2;
    width:100%;
    background-color:#2D2D2D;
    color:white;
    margin:0px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    padding:5px;
    position:fixed;
}
div#search-bar span {
    float:right;
    margin-right:10px;
}
div#search-bar form {
    margin: 0px;
}
div#search-bar img{
    width: 25px;
    margin-right: 7px;
}

div#search-bar input[type="text"] {
    margin-bottom: 0px;
    height: 22px;
}

div#content {
    z-index: 1;
    margin: 50px 5px 5px 5px;
}

div#content div.home-content {
    height: 500px;
    background-image: url(/static/img/backdrop.png);
    background-repeat: no-repeat;
    background-position: center center;
    vertical-align: middle;
}

div#content div.home-footer {
    border-top: 1px solid #ccc;
    margin: 100px 5px 5px 5px;
    padding: 5px 5px 20px 5px;
    text-align:right;
}

div#content div.home-footer img {
    height: 32px;
}

div#content span.error{
    font-weight: bold;
    margin: 20px 0px;
    display:inline-block;
    color: #B94A48;
    background-color: #F2DEDE;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 20px;
    border: 1px solid #EED3D7;
}

div.filter {
    margin-bottom: 10px;
}

img.hide_column {
    width: 12px;
    cursor: pointer;
    *cursor: hand;
}

img.top{
    width: 30px;
    margin: 5px;
}

div#footer {
    border-top: 1px solid #ccc;
    margin: 10px 5px 5px 5px;
    padding: 5px 5px 20px 5px;
    text-align:center;
}


select[name="datatable_length"] {
    width: 60px;
}

form.form-inline {
    display: inline-block;
}

button.search_columns {
    margin-right: 5px;
}

button.search_columns_button_filter,
button.search_columns_button_showhide {
    width: 100%;
    margin: 1px 0px;
    text-align:left;
}

input#global_regex,
button.search_columns_button_filter input,
button.search_columns_button_showhide input {
    margin-right: 5px;
    vertical-align: top;
}

div.dataTables_showhide {
    float: left;
    margin-left: 5px;
}

.paginate_button_,
.paginate_active_ {
    margin: 0px 2px;
}

input#dataTables_filter_value {
    height: 22px;
}
