{% load extra_filter %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="Keywords" content="Cockpit" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/base.css" rel="stylesheet" />
    <link href="/static/css/cockpit-graph.css" rel="stylesheet" />
    <link href="/static/css/jquery-ui-1.9.1.custom.css" rel="Stylesheet" />

    <script type="text/javascript" src="/static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ajax-django.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui-1.9.1.custom.min.js"></script> 
    <script type="text/javascript" src="/static/js/highstock.js"></script>
    <script type="text/javascript" src="/static/js/modules/exporting.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    
    {% block extrahead %}{% endblock %}

    <title>{% block title %}CASTOR Cockpit{% endblock %}</title>
  </head>
  <body>
    <div id="sidebar">
        <!-- Logo section -->
        <div id="logo">
            <a href="/"><img class="logo" src="/static/img/CASTOR_logo_250.png" alt="CASTOR Logo"/></a>
        </div>
        <div id="sidebar-content">
            <!-- Metrics section -->
            <h3>
                Metrics
            </h3>
            <!-- Accordion -->
            <div class="accordion" id="accordion">
                <!-- Metrics accordion -->
                {% for category in metrics.keys %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle {% if metric_name and metric_name in metrics.dict|get:category %}current{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#accordion{{ category }}">{{ category }}</a>
                    </div>
                    <div id="accordion{{ category }}" class="accordion-body collapse {% if metric_name and metric_name in metrics.dict|get:category %}in{% endif%}">
                        <div class="accordion-inner">
                            <ul class="unstyled">
                            {% for metric in metrics.dict|get:category %}
                            <li><a href="/metric/{{ metric }}" class="{% if metric_name and metric_name == metric %}metric current{% endif %}" title="{{ metric }}">{{ metric }}</a> {% if metric_name and metric_name == metric %}<img src="/static/img/info.png" class="metric-info-button" />{% endif %}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% if statistics_pages %}
                <!-- Statistics accordion -->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle {% if current_statistics_page %}current{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#accordion-statistics">Statistics</a>
                    </div>
                    <div id="accordion-statistics" class="accordion-body collapse {% if current_statistics_page %}in{% endif%}">
                        <div class="accordion-inner">
                            <ul class="unstyled">
                            {% for statistics_page in statistics_pages %}
                            <li><a href="/statistics/{{ statistics_page }}" class="{% if current_statistics_page and current_statistics_page == statistics_page %}metric current{% endif %}">{{ statistics_page }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if dashboards_pages %}
                <!-- Dashboards accordion -->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle {% if current_dashboards_page %}current{% endif %}" data-toggle="collapse" data-parent="#accordion" href="#accordion-dashboards">Dashboards</a>
                    </div>
                    <div id="accordion-dashboards" class="accordion-body collapse {% if current_dashboards_page %}in{% endif%}">
                        <div class="accordion-inner">
                            <ul class="unstyled">
                            {% for dashboards_page in dashboards_pages %}
                            <li><a href="/dashboards/{{ dashboards_page }}" class="{% if current_dashboards_page and current_dashboards_page == dashboards_page %}metric current{% endif %}">{{ dashboards_page }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <!-- Info section -->
            <h3>
                Info
            </h3>
            <ul class="unstyled">
                <li><a href="https://twiki.cern.ch/twiki/bin/view/DSSGroup/CockpitWebInterface">Twiki page</a></li>
                <li><a href="/sls">SLS overview</a></li>
                <li><a href="/logviewer">Log viewer</a></li>
            </ul>
            <!-- RPyC status section -->
            {% if rpyc_status %}
                <div class="alert alert-block alert-success">
                    <h4>MAE Server : <img class="rpyc-status" src="/static/img/button_ok.png" alt="UP" title="UP" /></h4>
                </div>
            {% else %}
                <div class="alert alert-block alert-error">
                    <h4>MAE Server : <img class="rpyc-status" src="/static/img/button_cancel.png" alt="DOWN" title="DOWN" /></h4> Data not up-to-date !
                </div>
            {% endif %}
        </div>
    </div>
    <div id="main"> 
        {% block content %}{% endblock %}
    </div>
    {% if messages %}
        <div id="messages">
            <div class="alert alert-block alert-error">
            {% for message in messages %}
                <h4>{{ message }}</h4>
            {% endfor %}
            </div>
        </div>
    {% endif %}
  </body>
</html>
