{% extends "cockpit/base.html" %}

{% block extrahead %}
    <script type="text/javascript" src="/static/js/cockpit-chart.js"></script>
    <script type="text/javascript" src="/static/js/scripts.js"></script>
{% endblock %}


{% block title %}
    CASTOR Cockpit - {{ metric_name }}
{% endblock %}

{% block content %}
    {% include "cockpit/metric-container.html" %}
{% endblock %}

