{% extends "cockpit/base.html" %}

{% block header %}<h1>CASTOR COCKPIT</h1>{% endblock %}

{% block content %}
<div id="home">
    <h1>CASTOR Cockpit</h1>
    <p>NB : this website heavily uses HTML5, CSS3 and AJAX/JavaScript. So you might observe poor performances/visual with IE and FF. If your browser is too slow when displaying charts, try to reduce the window size.</p>
    <div class="home-footer">
        <a href="http://www.python.org/"><img src="/static/img/python-powered-w.svg" title="Powered by Python." class="svg" /></a>
        <a href="http://www.djangoproject.com/"><img src="/static/img/djangopowered126x54.gif" alt="Powered by Django." title="Powered by Django." /></a>
        <img src="/static/img/HTML5_Badge.svg" title="This site uses HTML5 and CSS3." class="svg" />
    </div>
</div>
{% endblock %}

