<div class="metric_container" id="{{ metric_name }}">
    <div class="metric-options">
        {% include "cockpit/metric-display-options.html" %}
    </div>
    <div class="metric-display"></div>
    <div class="metric-info">
        {% include "cockpit/metric-display-info.html" %}
    </div>
</div>
